<table *ngIf="imageList">
    <tr *ngFor="let item of rowIndexArray">
        <td>
            <div class="imagebox" *ngIf="item == 0">
                <a routerLink="/image/upload">
                    <img src="/assets/img/new_image.jpg" class="img-fluid">
                    <span class="imagebox-desc">Insert A New Image</span>
                </a>
            </div>
            <div class="imagebox" *ngIf="item != 0">
                <img [src]="imageList[3 * item - 1].imageUrl" class="img-fluid">
                <span class="imagebox-desc">{{ imageList[3 * item - 1].caption }}</span>
            </div>
        </td>
        <td *ngIf="imageList[3 * item]">
            <div class="imagebox">
                <img [src]="imageList[3 * item].imageUrl" class="img-fluid">
                <span class="imagebox-desc">{{ imageList[3 * item].caption }}</span>
            </div>
        </td>
        <td *ngIf="imageList[3 * item + 1]">
            <div class="imagebox">
                <img [src]="imageList[3 * item + 1].imageUrl" class="img-fluid">
                <span class="imagebox-desc">{{ imageList[3 * item + 1].caption }}</span>
            </div>
        </td>
    </tr>
</table>